<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54763682657-3c6dj695db01fj6tbnevjp68urm4p14g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54763682657-3c6dj695db01fj6tbnevjp68urm4p14g</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsH4sIeymQRFcsd9Dv5osHL_Wiq2Qb1U</string>
	<key>GCM_SENDER_ID</key>
	<string>54763682657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icebergtech.petshop</string>
	<key>PROJECT_ID</key>
	<string>petshop-aad89</string>
	<key>STORAGE_BUCKET</key>
	<string>petshop-aad89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54763682657:ios:d2c7df4efcf7133091a320</string>
</dict>
</plist>